@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container2{
    background-color: white;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  text-align: center;
  background-repeat: repeat;
  background-position: absolute;
}
form{
    background-color: white;
    margin: 10px;
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 5px;
}
.row{
    /* width: 30%; */
    margin: 10px;
    /* background-color: #559bb5; */
}
.btnsubmit{
    width: 30%;
    margin: 10px;
    margin-left: 100px;
    background-color: #006100;
    border-radius: 10px;
    padding: 5px;
    color: white;
}